html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  font-size: 100%;
  font-weight: 600;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dark {
  width: 30%;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1px;
  font-size: 1.2ch;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
i {
  width: 10%;
  height: 10%;
}

/*  */
/*  CSS Loader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*  */

.page-container {
  width: 100%;
  /* padding-left: 10px;
  padding-right: 10px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
}
.input-filter {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

#search-country {
  border: none;
  border-radius: 100px;
  width: 40%;
  background-color: rgb(255, 255, 255);
}
.custom-select {
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-color: white;
}
select {
  border: none;
  border-radius: 100px;
  background-color: white;
}
option {
  border: none;
}
option::after {
  border: none;
}

#countries-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  column-gap: 15px;
}
.country {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  cursor: pointer;
  /* width: 23%; */
  align-items: flex-start;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.country-name {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 600;
}
.info-text {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 16px;
  font-weight: 450;
}

.flag-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 310px;
  height: 160px;
  aspect-ratio: auto;
  margin-bottom: 15px;
}

.overlay {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: grey;
}

#popup-section {
  display: none;
}
#popup-section.show {
  position: fixed;
  /* width: 70vw; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.popup-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}
button {
  background-color: white;
  font-size: 20px;
  border: none;
}
#popup-info-main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 15px;
}
.popup-flag-image {
  width: 310px;
  height: 160px;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  padding: 5px;
  font-size: 16px;
}

@media all and (max-width: 460px) {
  .popup-flag-image {
    width: 160px;
    height: 80px;
  }
}
/* * {
  border: 1px solid red;
} */
